<!--
   Run the rotation  demo
-->
<launch>
  <include file="$(find magni_demos)/launch/teleop.launch" />
 
  <include file="$(find raspicam_node)/launch/camerav2_410x308_30fps.launch" />
  
  <!-- Detect -->
  <node name="dnn_detect" pkg="dnn_detect" type="dnn_detect" output="screen">
     <param name="rotate_flag" value="1"/>
     <param name="single_shot" value="true"/>
  </node>

  <!-- move -->
  <node name="move_basic" pkg="move_basic" type="move_basic" output="screen">
  </node>

  <!-- dnn_rotate -->
  <include file="$(find dnn_detect)/launch/dnn_detect.launch">
     <arg name="camera" value="raspicam_node"/>
  </include>
</launch>
