<launch>
    <include file="$(find magni_nav)/launch/aruco.launch"/>
    <include file="$(find magni_nav)/launch/move_basic.launch"/>

    <node pkg="pi_sonar" type="pi_sonar" name="pi_sonar">

    <node pkg="docking" type="dock.py" name="docking">
       <param name="waypoints" value="-1.5 -0.2 0, -1 0 0, 0 0 0""/>
    </node>
</launch>

