<launch>
    <include file="$(find partybot)/partybot_node.launch"/>
    <include file="$(find rbx1_vision)/launch/uvc_cam.launch">
       <arg name="device" value="/dev/video1"/>
    </include>

    <include file="$(find rbx1_vision)/launch/face_tracker2.launch"/>

    <node pkg="hercules_node" type="controller" name="controller"/>
</launch>
